.footer {
    display: flex;
    font-size: 14px;
    background-color: #172337;
    line-height: 1.4;
    text-align: left;
    flex-wrap: wrap;
    padding-bottom: 40px;
    justify-content: space-around;
    padding: 40px 65px;
}
.footer__item {
    flex: 1;
}
.footer__itemHeading {
    color: #878787;
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 9px
}
.footer__itemTitle {
    line-height: 2;
    font-size: 13px;
    font-weight: 500;
    color: #fff;
    display: block;
    font-weight: 400;
    font-size: 12px;
}
.footer__box {
    margin-bottom: 0;
    border-left: 1px solid #454d5e;
}
.footer__boxContent {
    padding-left: 15px;
}
p {
    margin-bottom: 0;
}